
:root{
    /* cores dos elementos no site */

    --fundo_site: #191919; 
    --borde: #292929;
    --cards: #1e1e1e;
    --hover: #2f2f2f;

    /* cores dos textos no site */

    --texto_principal: #e3e3e3;
    --texto_secundario: #a8a8a8;

}

        /* GRID DE GRÁFICOS */
        .charts_grid {
          
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;
            
           
        }
       
        .chart-card {
            width: 450px;
            background: var(--cards);
            border-radius: 10px;
            padding: 20px 20px 15px 20px;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
            border: 1px solid var(--borde);
        }

        .chart-card .chart-subtitle {
            font-size: 13px;
            color: #ffffff;
            margin-bottom: 5px;
            font-weight: 400;
        }

       

