
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 

:root{
    /* cores dos elementos no site */

    --fundo_site: #191919; 
    --borde: #292929;
    --cards: #1e1e1e;
    --hover: #2f2f2f;

    /* cores dos textos no site */

    --texto_principal: #e3e3e3;
    --texto_secundario: #a8a8a8;

}

body {
    padding: 20px;
    margin-left: 250px;
    background-color: var(--fundo_site); 
    line-height: 1.6;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    background-color: #1a1a1a;
    padding: 10px;
    text-align: left;
    margin-bottom: 1px;
}
header > a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    background-color: #1C5DF2;
    text-decoration: none;
    color: white;
}
h1 {
    background-color: #1a1a1a;
    color: white;
    padding: 10px;
    text-align: left;
}

.descricao
{
    color: #B0B0B0;
    background-color: #1a1a1a;
    padding: 8px;
    
}

#filtro{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.pesquisa
{
    color : #4a4a4a;
    margin: auto;
    background-color: var(--cards);
    border: none;
    text-align: left;
    border: 1px solid var(--borde);
    border-radius: 5px;

}
.volta_pesquisa{
    background-color: var(--cards);
    padding: 10px;
     border: 1px solid var(--borde);
     border-radius: 10px;
}

.filtro_avançado{
     background-color: var(--cards);
    padding: 10px;
     border: 0.5px solid var(--borde);
     border-radius: 10px;
}
.logo {
    background-color: #892FFF;
    color: white;
    padding: 20px;
    text-align: center;

}

main {
    width: 80%;
    margin: 20px auto;
    overflow: hidden; /* Limpa o float interno */
}

/* Estilização do Layout com Float e Display */
#login-box, .formulario-container {
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    width: 400px;
    margin: 50px auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    display: block;
}

button {
    background-color: #1C5DF2;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
}


.filtro_avançado{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.grupo_campo {
    width: 500px;
    color: white;
    border-radius: 8px;
}
.grupo_campo > input, select{
    color: white;
    background-color: var(--hover);
    border: none;
    border-radius: 5px;
}

.data1e2 {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #a8a8a8;
    border-radius: 8px;
}

.btn-primary {
    font-family: 'Poppins', sans-serif;
    background-color: #1C5DF2;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    gap: 10px;
}

.btn-primary:hover {
  background-color: #1d56cc;  /* Um azul um pouco mais escuro */
}

button:hover {
    background-color: #1C5DF2;
}

footer {
    text-align: center;
    padding: 10px;
    background: #1a1a1a;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* ARQUIVO: regras.css - ADICIONE ISTO AO FINAL */

/* CAIXA DE CLIENTES; */

#resultado{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    align-content: flex-start;
    
}

#resultado > a{
     text-decoration: none;
     color: #a8a8a8;
}
.pai_cliente{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    background-color: #1e1e1e  ;
    border-radius: 15px;
    margin: 0px 0px 30px 0px;
    width:  290px;
    padding: 20px;
    
}
.filho_1_cliente{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.filho_1_cliente > figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #1a2e1a33;
    border: 1px solid #1C5DF2;
}
.img_perfil > i{
    font-size: 25px;
    color: #1C5DF2;
    
}
.filho_2_cliente{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    font-size: 15px;
}
.insta{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
.nome_cliente{
    color: #ffff;
}
.filho_3_cliente{
    display: flex;
    flex-direction: row;
    gap: 30px;
}


/*coisas do navbar aqui*/
.sidebar {
    
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  height: 100%;
  background: #191919;
  border-right: 1px solid #3a3a3a;
  padding: 20px;
}

.sidebar-logo {
  color: white;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 25px;
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: #bdbdbd;
  padding: 12px 14px;
  border-radius: 10px;
  font-size: 15px;
  margin-bottom: 8px;
  transition: 0.2s;
}

/*efeito legal de passar o mouse q adoro*/
.sidebar a:hover {
  background: #1a1a1a;
  color: white;
}

/*trocar a cor pra aparecer clicado*/
.sidebar a.active {
  background: #2a2a2a;
  color: white;
}

